<vector android:height="22dp" android:viewportHeight="24"
    android:viewportWidth="24" android:width="22dp" xmlns:android="http://schemas.android.com/apk/res/android">
    <path android:fillColor="#00000000"
        android:pathData="M10,5C10,6.105 10.895,7 12,7C13.105,7 14,6.105 14,5C14,3.895 13.105,3 12,3"
        android:strokeColor="#000000" android:strokeLineCap="round" android:strokeWidth="1.5"/>
    <path android:fillColor="#00000000"
        android:pathData="M12,12m-0,-2a2,2 0,1 1,-0 4a2,2 0,1 1,-0 -4"
        android:strokeColor="#000000" android:strokeWidth="1.5"/>
    <path android:fillColor="#00000000"
        android:pathData="M12,21C10.895,21 10,20.105 10,19C10,17.895 10.895,17 12,17C13.105,17 14,17.895 14,19"
        android:strokeColor="#000000" android:strokeLineCap="round" android:strokeWidth="1.5"/>
</vector>
